.searchResult {
  background-color: var(--accent-background-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.highlighted {
  border: 2px solid transparent;
  background-clip: padding-box;
  border-image: linear-gradient(
    60deg,
    #d93025, 
    #f9ab00, 
    #1e8e3e, 
    #d93025  
  ) 1;
}

a {
  display: block;
  max-width: 95%;
  word-wrap: break-word;
}

.h3 {
  margin-top: 0;
}
