.domainListLabel {
  margin-bottom: 0.5rem !important;
}

.textArea .MuiInputBase-root {
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.domainList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  color: white !important;
}
