:root {
  --background-color: #1f1f1f;
  --accent-background-color: #504f4f41;
  --link-color: #4285f4;
  --button-color: #4285f4;
  --button-color-hover: #3367d6;
  --google-yellow: #fbbc05;
  --google-green: #34a853;
  --google-red: #ea4335;
  --google-blue: #4285f4;
  --google-blue-opaque: #4285f410;
  --gemini-purple: #9a8cf6;
}

html {
  background-color: var(--background-color);
  color: white;
}

body {
  font-family: "DM Sans", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.separator {
  border: none;
  height: 1px;
  background-color: lightgray;
  margin: 0.625rem 0;
}

h3 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

p {
  margin-top: 0.5rem;
}

h6 {
  margin-bottom: 0.5rem;
}

a {
  color: var(--link-color);
}

button {
  background-color: var(--link-color);
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;

  &:hover {
    background-color: var(--button-color-hover);
    cursor: pointer;
  }
}
